<!DOCTYPE html>
<html lang="en">

<head>
  <title> myJourney.io :: Dashboard</title> 
</head>

<body class="container">

  <header>
         
  </header>

  <main>
    <div class="jumbotron">
      <h1>This this is a secret user dashboard</h1>
    </div>
  </main>

  <footer>

  </footer>

</body>
</html>