<!DOCTYPE html>
<html lang="en">

<head>
  <title> myJourney.io :: Dashboard </title>
  <link rel="stylesheet" type="text/css" href="/static/styles/dashboard.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class = "container" style = "margin:0;padding:0">

<main id = "root"><%- rootMarkup %></main>

<script>
  window.__PRELOADED_STATE__ = '<%- JSON.stringify(preloadedState) %>';
</script>
<script src="/static/scripts/vendor.js"></script>
<script src="/static/scripts/dashboard.js"></script>

<% if (process.env.NODE_ENV === 'development') {%>
  <script src="http://localhost:35729/livereload.js"></script>
<% } %>

</body>
</html>