<!DOCTYPE html>
<html lang="en">

<head>
  <title> myJourney.io :: Dashboard </title>
</head>

<body class="container">

<main id = "root"><%- rootMarkup %></main>

<script>
  window.__PRELOADED_STATE__ = '<%- preloadedState %>';
</script>
<script src="/static/scripts/dashboard.js"></script>

</body>
</html>