<!DOCTYPE html>
<html lang="en">

<head>
  <title> myJourney.io :: Index </title>
  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>

<body class="container">

<main id = "root"><%- rootMarkup %></main>

<script>
  window.__PRELOADED_STATE__ = '<%- JSON.stringify(preloadedState) %>';
</script>
<script src="/static/scripts/vendor.js"></script>
<script src="/static/scripts/index.js"></script>

<% if (process.env.NODE_ENV === 'development') {%>
  <script src="http://localhost:35729/livereload.js"></script>
<% } %>

</body>
</html>