$nav-drawer-width: 220px;

.layout {
  background-color: lightgray;
  min-height: 100vh;

  .panel {
    height: initial;
  }

  .navDrawer {
    max-width: $nav-drawer-width !important;

    .drawerContent {
      max-width: $nav-drawer-width !important;
    }
  }
}